/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{ color: #3b4b66;
    background-image: url(https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    

}
#table{
    padding: 1px;
    text-align:center ;
    border-collapse: collapse;
}


.center1{ 
    
    width: 800px;
    margin:  auto ;
}
.m{ background-color: rgba(255, 255, 255, 0.4);
margin-top: none;}
td{ border-bottom: 1px solid gray !important;

}
footer{ background-color:#3b4b66 ;}
.formy{ text-align: left;}

.marketing-site-content-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  .marketing-site-content-section .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  
  .marketing-site-content-section .marketing-site-content-section-img img {
    width: 100%;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-content-section .marketing-site-content-section-img {
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
    }
  }
  
  .marketing-site-content-section .marketing-site-content-section-block {
    padding: 1rem;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    background: #e6e6e6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-content-section .marketing-site-content-section-block {
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      padding: 2rem;
    }
  }
  
  .marketing-site-content-section-block-header {
    font-size: 24px;
  }
  
  .marketing-site-content-section-block-subheader {
    font-size: 13px;
  }
  
  